<div class="d-flex w-100 gap-2 align-items-center justify-content-end">
    <div class="input-group search-container" style="max-width: 400px; height: 45px;">
        <span class="input-group-text rounded-start-pill bg-success border-success px-3">
            <i class="bi bi-person-badge text-white fw-bolder"></i>
        </span>
        <input type="text" class="form-control rounded-end-pill shadow-none" placeholder="Ingresar DNI celular..."
            [(ngModel)]="newDriverDni" (keyup.enter)="submitDriver()" maxlength="8"
            style="border: 1px solid #198754; border-left: none; background-color: #f8f9fa;"
            onfocus="this.style.backgroundColor='#ffffff'" onblur="this.style.backgroundColor='#f8f9fa'" />
    </div>
    <button class="btn btn-success btn-register-user rounded-pill px-4" style="height: 45px; font-weight: 600;"
        (click)="submitDriver()">
        <i class="bi bi-plus-lg me-1"></i>
        Añadir a Cola
    </button>
</div>