<aside class="sidebar">
  <div class="sidebar-header clickable">
    <h2 class="brand">
      <li routerLink="/administrator/app-administrator" routerLinkActive="active">
        <span class="seis">TRAVEL</span>
        <span class="especial">GO</span>
      </li>
    </h2>
  </div>
  <ul class="menu">

    <li class="menu-item" routerLink="/administrator/summary" routerLinkActive="active">
      <i class="bi bi-bar-chart"></i>
      <span class="label">Resumen</span>
    </li>

    <li class="menu-item" routerLink="/administrator/alerts" routerLinkActive="active">
      <i class="bi bi-bell bell-animation bell-dot" [class.bell-active]="hasAlerts"></i>
      <span class="label">Alertas</span>
    </li>

    <li class="menu-item" routerLink="/administrator/routes" routerLinkActive="active">
      <i class="bi bi-signpost"></i>
      <span class="label">Rutas</span>
    </li>

    <li class="menu-item" routerLink="/administrator/vehicles" routerLinkActive="active">
      <i class="bi bi-truck"></i>
      <span class="label">Vehículos</span>
    </li>

    <li class="menu-item" routerLink="/administrator/personal" routerLinkActive="active">
      <i class="bi bi-people"></i>
      <span class="label">Personal</span>
    </li>

    <li class="menu-item" routerLink="/administrator/sede" routerLinkActive="active">
      <i class="bi bi-house"></i>
      <span class="label">Sede</span>
    </li>

    <li class="menu-item" routerLink="/administrator/sales" routerLinkActive="active">
      <i class="bi bi-cash-coin"></i>
      <span class="label">Ventas</span>
    </li>

    <li class="menu-item" routerLink="/administrator/places" routerLinkActive="active">
      <i class="bi bi-geo-alt"></i>
      <span class="label">Lugares</span>
    </li>

    <li class="menu-item" routerLink="/administrator/settings" routerLinkActive="active">
      <i class="bi bi-gear"></i>
      <span class="label">Ajustes</span>
    </li>
  </ul>

  <div class="sidebar-user">
    <div class="dropdown">
      <button class="btn btn-secondary avatar" id="sesion" data-bs-toggle="dropdown" aria-expanded="false"><i
          class="bi bi-person-circle"></i></button>
      <ul class="dropdown-menu" aria-labelledby="sesion">
        <li><a class="dropdown-item clickable">Perfil</a></li>
        <li><a class="dropdown-item clickable" (click)="onLogout()">Cerrar Sesión</a></li>
      </ul>
    </div>

    <div class="user-info">
      <strong>{{ userEmail | slice:0:12 }}{{ (userEmail?.length ?? 0) > 12 ? '...' : '' }}</strong>
      <small>{{userRole}}</small>
    </div>
  </div>
</aside>