<div class="modal-overlay" *ngIf="isOpen" (click)="close.emit()">
    <div class="modal-dialog modal-lg modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-header bg-light border-0 py-2">
                <div>
                    <h5 class="mb-0 text-danger fw-semibold" style="font-size: 0.9rem;">Travel<span
                            class="text-success">Go</span></h5>
                    <h5 class="modal-title fs-4 fw-bold">Nueva Ruta</h5>
                </div>
                <button type="button" class="btn-close" (click)="close.emit()"></button>
            </div>
            <div class="modal-body p-3">
                <form class="row g-3">
                    <div class="col-6">
                        <label class="form-label small fw-bold mb-0">Origen</label>
                        <input type="text" class="form-control form-control-sm rounded-pill" placeholder="Huánuco">
                    </div>
                    <div class="col-6">
                        <label class="form-label small fw-bold mb-0">Destino</label>
                        <input type="text" class="form-control form-control-sm rounded-pill" placeholder="Tingo María">
                    </div>
                    <div class="col-6">
                        <label class="form-label small fw-bold mb-0">Tiempo (Hrs)</label>
                        <input type="number" class="form-control form-control-sm rounded-pill" placeholder="2.5">
                    </div>
                    <div class="col-6">
                        <label class="form-label small fw-bold mb-0">Precio (S/)</label>
                        <input type="number" class="form-control form-control-sm rounded-pill" placeholder="35.00">
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0 py-2">
                <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill px-4"
                    (click)="close.emit()">Cancelar</button>
                <button type="button" class="btn btn-sm btn-success rounded-pill px-4">Guardar</button>
            </div>
        </div>
    </div>
</div>