/* ================= MODAL PAGO ================= */

.modal-content{
  border-radius:16px;
}

.fd-qr{
  height:120px;
  background:#0f172a;
  color:#fff;
  border-radius:16px;
}

.fd-pay-box{
  border:1px solid #e5e7eb;
  background:#fff;
}
