.modal-container{
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
}

.section-title-custom {
    color: #718096;         
    font-family: 'Arial', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.icon-form{
    color: #1a9c53;
    font-size: 1.5rem;
}
