.cover-image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 90%;
    border-radius: 25px;
    height: auto;
}
.badge{
    background-color: #C8E6C9;
    border-radius: 9999px !important;
    color: #2c8932;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}
.cover-title{
    margin-bottom: 30px;
}
.title{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description{
    font-size: 25px;
    color: rgb(71, 70, 71);
}
.highlight{
    font-weight: bold;
    color: #2c8932;
}

.select-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-filters{
    border-radius: 9999px !important;
    border:2px  solid rgb(5, 138, 56);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.route-option {
    display: flex;
    justify-content: space-between; /* Esto manda uno a cada canto */
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

.origin-text {
    font-weight: 600;
    color: #333;
}

.destination-text {
    font-weight: 600;
    color: #28A745; /* El verde de tu marca */
}

.arrow-icon {
    color: #ccc;
    font-size: 0.8rem;
}