<div class="modal d-block bg-dark bg-opacity-50" *ngIf="isOpen" (click)="close.emit()" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content border-0 shadow rounded-4 text-center p-3">
            <div class="py-2">
                <i class="bi bi-trash text-danger" style="font-size: 3rem;"></i>
            </div>
            <h5 class="fw-bold mb-1">¿Eliminar Ruta?</h5>
            <p class="small text-muted mb-3">Esta acción no se puede deshacer.</p>
            <div class="d-flex gap-2">
                <button type="button" class="btn btn-sm btn-light rounded-pill w-100 fw-bold"
                    (click)="close.emit()">Cancelar</button>
                <button type="button" class="btn btn-sm btn-danger rounded-pill w-100 fw-bold">Confirmar</button>
            </div>
        </div>
    </div>
</div>