<div class="modal-overlay" *ngIf="isOpen" (click)="close.emit()">
    <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content border-0 shadow-lg p-3 text-center rounded-4">
            <div class="py-3">
                <i class="bi bi-exclamation-circle text-warning display-1"></i>
            </div>
            <h2 class="fw-bold mb-2">¿Eliminar Ruta?</h2>
            <p class="text-muted mb-4">Esta acción no se puede deshacer.</p>
            <div class="d-flex gap-2 justify-content-center">
                <button type="button" class="btn btn-light rounded-pill px-4" (click)="close.emit()">No,
                    cancelar</button>
                <button type="button" class="btn btn-danger rounded-pill px-4">Sí, eliminar</button>
            </div>
        </div>
    </div>
</div>